{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    
        <h1>Edit Post</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="update">
        </form>
    
    {% else %}
    <p>You are not the author of this article so cannot edit it</p>    
    {% endif %}  

{% else %}
    <p> You need to register/login to edit articles </p>

{% endif %}

{% endblock %}